@using mvcodev.Models.Data
@{
    ViewBag.Title = "Catring";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="offers_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-100">
                    <h3>ŞEFLERİMİZDEN SİZLERE SUNULAN EŞSİZ LEZZETLER</h3>

                </div>
            </div>
        </div>
        @foreach (var i in Model)
        {
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single_offers">
                        <br />
                        <div class="about_thumb">
                            <img src="~/Content/images/@i.menu_fotograf" alt="">
                        </div>
                        <h3>
                            @i.menu_adi

                        </h3>
                        <ul>
                            <li>İÇERİK: @i.menu_icerik</li>
                            <li>FİYAT: @i.menu_fiyat</li>
                    
                        
                        </ul>

                      
                    </div>
                </div>

            </div>
        }
    </div>
</div>

