
@{
    ViewBag.Title = "iletisim";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h3>KONUM: KUZEYKENT/KASTAMONU</h3>
<h3>TELEFON:0345-555-5555</h3>
<h3>MAİL: cokmezorganization@gmail.com</h3>

