
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h3>SİZ HAYAL EDİN BİZ YAPALIM</h3>
<br />
<h3>DAHA ÖNCE YAPTIK</h3>
  <!-- about_area_start -->


<!-- offers_area_end -->
