
@{
    ViewBag.Title = "anasayfa";
    Layout = "~/Views/Shared/uyemenu.cshtml";
}


<div class="offers_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-100">
                  
                    <h3>DEĞERLİ ÜYEMİZ SİZİ BURDA GÖRMEKTEN ÇOK MUTLUYUZ  </h3>
                    <h3>SİTEMİZİ DAHA SIK ZİYARET ETMENİZ BİZİ VE EMİN OLUN Kİ SİZİ DE ÇOK MUTLU EDER</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <div class="single_offers">
                    <div class="about_thumb">
                        <img src="~/montana/img/offers/1.png" alt="">
                    </div>
                    <h3>
                        Up to 35% savings on Club <br>
                        rooms and Suites
                    </h3>
                    <ul>
                        <li>Luxaries condition</li>
                        <li>3 Adults & 2 Children size</li>
                        <li>Sea view side</li>
                    </ul>
                    <a href="#" class="book_now">book now</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_offers">
                    <div class="about_thumb">
                        <img src="~/montana/img/offers/2.png" alt="">
                    </div>
                    <h3>
                        Up to 35% savings on Club <br>
                        rooms and Suites
                    </h3>
                    <ul>
                        <li>Luxaries condition</li>
                        <li>3 Adults & 2 Children size</li>
                        <li>Sea view side</li>
                    </ul>
                    <a href="#" class="book_now">book now</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_offers">
                    <div class="about_thumb">
                        <img src="~/montana/img/offers/3.png" alt="">
                    </div>
                    <h3>
                        Up to 35% savings on Club <br>
                        rooms and Suites
                    </h3>
                    <ul>
                        <li>Luxaries condition</li>
                        <li>3 Adults & 2 Children size</li>
                        <li>Sea view side</li>
                    </ul>
                    <a href="#" class="book_now">book now</a>
                </div>
            </div>
        </div>
    </div>
</div>
